@layout.main()

  <h1>Préparations</h1>

  <ul>
  @each(preparation in preparations)
    <li><a href="{{ route('admin_preparations.show', { id: preparation.id }) }}">{{ preparation.preparation }}</a>
    <form method="POST" action="{{ route('admin_preparations.destroy', { id: preparation.id }) }}?_method=DELETE">
     {{ csrfField() }}
  <button type="submit">Supprimer</button>
</form>
    </li>
  @endeach
  </ul>
@end
