@layout.main()

  <h1>Tournées</h1>

  <table>
    @each(tournee in tournees)
    <tr data-id="{{ tournee.id }}">
      <td><a href="{{ route('admin_tournees.show', { id: tournee.id }) }}">{{ tournee.tournee }}</a></td>
      <td><form method="POST" action="{{ route('admin_tournees.destroy', { id: tournee.id }) }}?_method=DELETE">
      {{ csrfField() }}
      <button type="submit">Supprimer</button>
      </form></td>
    </tr>
    @endeach
  </table>
@end
