@layout.admin("Ajouter une saison")

  <h1>Ajouter une saison</h1>
  <form method="POST" action="{{ route('admin_saisons.create', { id: saison.id }) }}">
    {{ csrfField() }}

    <label>Nom</label>
    <input type="text" name="depot" value="" />

    <button type="submit">Ajouter</button>
  </form>
@end
