@layout.main()

  <h1>Calendriers</h1>

  <ul>
  @each(profil in profils)
    <li><a href="{{ route('admin_calendriers.show', { id: calendrier.id }) }}">{{ calendrier.calendrier }}</a>
    <form method="POST" action="{{ route('profils.destroy', { id: profil.id }) }}?_method=DELETE">
     {{ csrfField() }}
  <button type="submit">Supprimer</button>
</form>
    </li>
  @endeach
  </ul>
@end
