<!doctype html>
<html>
<head>
  <title>{{ title || "Jardins de Cocagne" }}</title>
  <!-- <script src="https://cdn.tailwindcss.com"></script>-->
  <!-- layout: admin -->
  @vite('resources/ts/app.ts')

</head>

<body>
  {{{ await $slots.main() }}}
</body>

</html>
