<!doctype html>
<html>
<head>
  <title>{{ title || "Jardins de Cocagne" }}</title>
  @if ($slots.meta)
    {{{ await $slots.meta() }}}
  @endif
  <script src="https://cdn.tailwindcss.com"></script>
  <!-- layout: app -->
</head>

<body>
  {{{ await $slots.main() }}}
</body>

</html>
