<!doctype html>
<html class="h-full bg-white">
<head>
  <title>{{ title || "Jardins de Cocagne" }}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <!-- layout: full -->
</head>

<body class="h-full">
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  {{{ await $slots.main() }}}
  </div>
</body>

</html>
