@layout.main()
<h1>Cotisations</h1>

<table>
@each(saison in saisons)
  <tr><td><a href="{{ route('admin_cotisations.show', { id: cotisation.id }) }}">{{ saison.saison }}</a></td>
    <td><form method="POST" action="{{ route('admin_cotisations.destroy', { id: cotisation.id }) }}?_method=DELETE">
      {{ csrfField() }}
      <button type="submit">Supprimer</button>
    </form></td>
  </tr>
@endeach
</table>
@end
