<p>Bonjour {{ email }},</p>

<p>Cliquez sur le lien ci-dessous pour réinitialiser votre mot de passe :</p>

<p><a href="{{ host }}{{ signedRoute('reset.password', [email], { expiresIn: '30 minute' }) }}">Réinitialiser le mot de passe</a></p>

<p>Ce lien expirera dans 1 heure.</p>
