<p>Bonjour {{ user.email }},</p>

<p>Cliquez sur le lien ci-dessous pour réinitialiser votre mot de passe :</p>

<p><a href="http://localhost:3333{{signedRoute('reset.password', [token], { expiresIn: '1 hour' })}}">Réinitialiser le mot de passe</a></p>

<p>Ce lien expirera dans 1 heure.</p>
