@layout.admin()

  <h1>Profils</h1>

  <table>
  @each(profil in profils)
  <tr>
    <td><a href="{{ route('admin_profils.show', { id: profil.id }) }}">{{ profil.profil }}</a></td>
    <td><form method="POST" action="{{ route('admin_profils.destroy', { id: profil.id }) }}?_method=DELETE">
    {{ csrfField() }}<button type="submit">Supprimer</button>
    </form>
    </td>
  </tr>
  @endeach
</table>
@end
