@layout.admin()

  <h1>Dépôts</h1>

  <ul>
  @each(depot in depots)
    <li><a href="depots/{{ depot.id }}">{{ depot.depot }}</a>
    <form method="POST" action="{{ route('admin_depots.destroy', { id: depot.id }) }}?_method=DELETE">
      {{ csrfField() }}
      <button type="submit">Supprimer</button>
    </form>
    </li>
  @endeach
  </ul>
@end
