@layout.admin()

  <h1>Dépôts</h1>

  <table>
  @each(depot in depots)
    <tr><td><a href="{{ route('admin_depots.show', { id: depot.id }) }}">{{ depot.depot }}</a></td>
    <td><form method="POST" action="{{ route('admin_depots.destroy', { id: depot.id }) }}?_method=DELETE">
      {{ csrfField() }}
      <button type="submit">Supprimer</button>
    </form></td>
  </tr>
  @endeach
</table>
@end
